APP_NAME=amocrmapitest
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

CLIENT_ID=f7ac37d7-72f2-42d8-b33a-654fd0eafec8
CLIENT_SECRET=BIn4ZMXuiiptoqRtL3qkwaovl7rkhLdMY0th9g5x8nHfIEBHRROxo8JSAVjSjlwq
CLIENT_REDIRECT_URI=http://sergy2389.qlihost.ru/auth
